@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    @Scripts.Render("~/bundles/angular")
</head>

<body ng-app="Prototype">
    <!-- Insertion point for partials -->
    <ui-view></ui-view>
</body>
</html>